<a href="https://colab.research.google.com/github/dmorton714/Code-You_assginments/blob/main/Week_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# week 2

- [Lists](#Lists)
- [For Loops](#For_Loops)
- [Slicing](#Slicking)
- [Links](#Links)

<a id="Lists"></a>
## Lists

Lists are used to store multiple items in a single variable.

Lists are 1 of 4 built-in data types in Python used to store collections of data. The all have different qualities and usage.
The others are:
 - Tuple
 - Sets
 - Dictionary

First lets review a little from last week.
- Make a variable `A` `B` `C`
- Assign them the valeus `1` `2` `3`
- Make `A` a `Float`
- `B` & `C` an `int`

In [ ]:
A = float(1)
B = int(2)
C = int(3)

Now Lets put `A` `B` `C` into a list names `my_list`
<br>
`print()` your list to verify it is correct.

In [ ]:
my_list = [A, B, C]
print(my_list)

[1.0, 2, 3]

As you can see it printed the values we stored in `A` `B` `C`.
<br>
As you can see list can store just about anything.

- Integers: Whole numbers without any decimal point, such as 1, 42, -10.
- Floats: Real numbers with a decimal point, such as 3.14, 2.718, -0.5.
- Strings: Textual data enclosed in single (') or double (") quotes, such as 'hello', "Python", '123'.
- Booleans: Logical values representing either `True` or `False`.
- Other Lists: Lists can contain other lists as elements, allowing for nested data structures.
- Tuples: Immutable sequences of elements, similar to lists but enclosed in parentheses (()).
- Dictionaries: Key-value pairs enclosed in curly braces ({}), allowing for mapping between keys and values.
- Sets: Unordered collections of unique elements, enclosed in curly braces ({}), useful for operations like union, intersection, and difference.

**example below of each**

``` python
my_list = [1, 3.14, 'hello', True, [5, 6], (7, 8), {'name': 'Alice', 'age': 30}, {1, 2, 3}]

```

Lets not explore a couple other things we can do with a list.

- Lets get the length of `my_list`
- use the `len()` function to this

In [ ]:
len(my_list)

3

We can also use the  `type()` function on the list.

If we do this to the list itself it will return that it is a list. <br> More importantly we can find the type of a particular item in the list.

- Use the `type()` function on `my_list`
- use `[]` square brackets to find the values type in index `1`

In [ ]:
type(my_list[1])

int

In Python, indexing is zero-based, which means that the first element in a sequence has an index of 0, the second element has an index of 1, and so on. This applies to lists, tuples, strings, and other ordered collections.

In [ ]:
print(my_list[0])  # Output: 1.0
print(my_list[1])  # Output: 2
print(my_list[2])  # Output: 3

1.0
2
3



---

<a id="#For_Loops"></a>
## For Loops

A `for` loop is used for iterating over a sequence.

That is either a:
- list
- tuple
- dictionary
- set
- string

Lets make a for loop to print `my_list`
- start with `for`
- the we will add `number in my_list:`.
- `for number in my_list:` is the line that starts the loop. It means "for each number in my_list, do something".
- Then hit enter on the next like type `print(number)`
- print(number) is the indented line inside the loop. It gets executed for each number in my_list.
- It then prints each number to the screen.

In [ ]:
for number in my_list:
  print(number)

1.0
2
3

Building off last week lets add us a conditional to the for loop.
Lets add the conditional of if number is equal to 3 we will break the loop.

- Copy your loop from above
- Make a new line after the `for` statement and above `print`
- Indent and add `if number == 3:
- on a line under that indent and put `break`
- `if` and `print` should be indented one space
- `break` should be 2 spaces

In [ ]:
for number in my_list:
  if number == 3:
    break
  print(number)

1.0
2

Here is a practical application of a `for loop` used to Validate a users name. It verifies they didn't add any symbols. Then says hello to them.

In [ ]:
# Maximum number of attempts
max_attempts = 3

# Ask the user for their name and validate it
for _ in range(max_attempts):
    users_name = input("Please enter your name and hit enter when finished: ")
    if users_name.replace(" ", "").isalpha():
        print("Hello", users_name)
        break
    else:
        print("Invalid input. Please enter only alphabetic characters and spaces.")
else:
    print("Maximum attempts reached. Please try again later.")

Please enter your name and hit enter when finished: apple jacks the 3rd
Invalid input. Please enter only alphabetic characters and spaces.
Please enter your name and hit enter when finished:
Invalid input. Please enter only alphabetic characters and spaces.
Please enter your name and hit enter when finished: a
Hello a

While for loops may seem complex at first glance, breaking them down into smaller pieces makes them more manageable and easier to understand.

---

<a id="Slicing"></a>
## Slicing

Sometimes you don't want to use all the data in a list dictionary ect. So sometimes we take a slice of that data.
- We will use `my_list` for our example
- we use the `[]` square brackets to slice the data
- we will also use `:` a colon between the numbers
- slice `my_list` from `[0:1]`
- Print the slice

In [ ]:
print(my_list[0:1])

[1.0]

You can also take slices from words or sentences.
- assign this sentence to the variable fox
  - The quick brown fox jumps over the lazy dog
- Print the index of  3-15.

In [ ]:
fox = "The quick brown fox jumps over the lazy dog"
print(fox[3:15])

 quick brown

<a id="Links"></a>
## Links

[Lists](https://www.w3schools.com/python/python_lists.asp)
<br>
[For Loops](https://www.w3schools.com/python/python_for_loops.asp)
<br>
[Slice](https://www.w3schools.com/python/python_strings_slicing.asp)



---

# END



---