<a href="https://colab.research.google.com/github/dmorton714/Code-You_assginments/blob/main/Week_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# week 1

- [Variables](#Variables)
- [Data Types](#Data_Types)
- [Conditionals](#Conditionals)
- [Links](#Links)

<a id="Variables"></a>
## Variables

In the code block below assign 40 to A.
<br>
Run the cell to verify your work.

In [ ]:
A = 40

Now assign 60 to B.
<br>
Run the cell to verify your work.

In [ ]:
B = 60

We have now defined 2 variables. We have assigned vales for A and B.
<br>
Now we are going to do some basic math. Add the 2 variables together and run the cell.

**Inside a notebook you dont have to use print you can just add the variables*

In [ ]:
A + B

100

Now lets subtract the 2 variables and run the cell.

In [ ]:
A - B

-20

In python code reads top to bottom. So if we reassign B to 40 it will be 40 untill we change it to somehting else.

*This means its imortant to name variables with good names so you dont reuse them.*


---

<a id="#Data_Types"></a>
## Data Types

| Example	| Data Type	|
| --- | ---|
| x = "Hello World"	| str |
| x = 20	| int |
| x = 20.5 | float |
| x = ["apple", "banana", "cherry"] | list |
| x = ("apple", "banana", "cherry") | tuple |
| x = range(6) | range |
| x = {"name" : "John", "age" : 36} | dict |
| x = True | bool |

By defualt python will make an attempt to assign the proper data type to a value. It doesnt always get it right so in good pratice you can assign the type when you define the variable.
<br>
<br>
Assign A as an int with the value of 40.

In [ ]:
A = int(40)

we will you the `type()` function to verify we did it correct.

In [ ]:
print(type(A))

<class 'int'>

Using what we learned, convert B to a float and assign its value to 60.

In [ ]:
B = float(60)
print(type(B))

<class 'float'>

Lets now add A and B together. But lets do this by assigning A+B to the variable C.

In [ ]:
C = A + B
C

100.0

Lets also get the returned type of C.

In [ ]:
print(type(C))

<class 'float'>

As you can see it's a float python did the work for us on assigning its type based on the vriables. If we wanted a `int` returned we would need to assign it.


---

<a id="Conditionals"></a>
## Conditionals

| Conditional | Example |
| :--- | --- |
|Equals: | a == b |
|Not Equals: | a != b |
|Less than: | a < b |
|Less than or equal to: | a <= b |
|Greater than: | a > b |
|Greater than or equal to: | a >= b |

Conditionals will be important in the Data Analytics aspect. We will get started with some basic conditionals using our variables from above.

In [ ]:
if A > B:
  print("A is greater than B")

Notice we did not get a message because B is greater than A.
<br>
<br>
A = 40
<br>
B = 60
<br>
<br>
Use the same code as above and and flip the variables. Be sure to edit the print statement to make it correct.

In [ ]:
if B > A:
  print("B is greater than A")

B is greater than A

Its not the most effecient way to do this.  So lets add a `else:` condition to do this in one block of code.

In [ ]:
if A > B:
  print("A is greater than B")
else:
  print("B is greater than A")

B is greater than A

This is a step up but, what happens if A and B are the same value? Lets correct our code by covering that hole in our code. We will add a `elif A == B:` condition between the `if` and `else:`

In [ ]:
if A > B:
  print("A is greater than B")
elif A == B:
  print("A is equal to B")
else:
  print("B is greater than A")

B is greater than A

Lets put everything we learned together:
- Define a value the variables **X** & **Y**
- Make sure they are assigned as an `int`
- Then replicate the if, elif, and else statement
- once you have to working change the values of **X** & **Y** to verify your code is working correctly.

In [ ]:
X = int(2)
Y = int(2)

if X > Y:
  print("X is greater than Y")
elif X == Y:
  print("X is equal to Y")
else:
  print("Y is greater than X")

X is equal to Y

<a id="Links"></a>
## Links

[Variables](https://www.w3schools.com/python/python_variables.asp)
<br>
[Data Types](https://www.w3schools.com/python/python_datatypes.asp)
<br>
[Conditions](https://www.w3schools.com/python/python_conditions.asp)



---

# END



---